/* Nav Background  */
body,
html {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Header Component */
.nav-links:hover {
  color: #6a38c2 !important;
}

.view-profile-nav:active,
.view-profile-nav:focus {
  background-color: #6a38c2 !important;
  color: white !important;
}

.nav-login-btn:hover {
  opacity: 0.8;
  background-color: black !important;
  color: white !important;
}

.nav-signup-btn:hover {
  opacity: 0.8;
}

/* Hero Section Component */
.searchicon {
  color: white;
}
.searchicon:hover {
  cursor: pointer;
  color: #1861c7;
}
.search-btn-hero {
  background-color: #6a38c2;
}

.hero-btn:hover {
  cursor: default;
}

/* FilterJob Card Component */
.filter-job-detail-btn:hover {
  color: white !important;
}

.filter-job-apply-btn:hover {
  opacity: 0.8;
}

.edit-profile-icon {
  cursor: pointer;
}

/* Footer Viewport */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.flex-grow-1 {
  flex-grow: 1; /* Pushes the footer to the bottom */
}
